# SonarQube
SONAR_URL="http://sonarqube:9000"
SONAR_TOKEN="squ_********************************"

# Opcional
APP_NAME="SonarQube Reporter"
APP_ENV=dev
APP_DEBUG=false

# Paginación
SONAR_PAGE_SIZE=200